.CardContainer {
    border: solid 1px #8B8B8B;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    height: 24%;
}

.CardContainer .ProductImageContainer {
    width: 80%;
    height: 50%;
    padding: 10%;
}

.CardContainer img {
    display:flex;
    width: 100%;
    object-fit: cover;
    mix-blend-mode: color-burn;
}

.CardContainer .DetailsCardContainer {
    height: 50%;
}